@charset "UTF-8";
:root {
  --font: "Pretendard GOV Variable", "Pretendard GOV", -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --font-logo: "JSArirang", serif;
  --font-color1: #191919;
  --font-color2: #929292;

  --gok-Blue-900: #003764;
  --gok-blue-700: #196294;
  --gok-blue-500: #2f7eb0;
  --gok-blue-200: #8cbbd5;
  --gok-blue-50: #e1eef4;

  --gok-red-900: #c90016;
  --gok-Red-700: #e4032e;
  --gok-red-500: #ff2932;
  --gok-red-200: #f9979b;
  --gok-red-500: #ffebef;

  --gok-gray-900: #191919;
  --gok-Gray-700: #575757;
  --gok-gray-500: #929292;
  --gok-gray-200: #e7e7e7;
  --gok-gray-50: #f8f8f8;

  --gok-cc-800: #00645f;
  --gok-cc-200: #03e4bb;
  --gok-ac-400: #fe9200;
  --gok-ac-500: #e4039d;

  --gok-blue-rgb: rgb(0,55,100);
  --gok-red-rgb: rgb(228,3,46);
  --gok-gray-rgb: rgb(87,87,87);
  
  --white: #fff;
  --black: #000;

  --bs-red: #ff7851;
  --bs-primary: #78c2ad;
  --bs-hover: #609b8a;
  --bs-black: #222;
}
