/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  height: 60px;
  transition: all 0.5s;
  z-index: 997;
  background: rgba(0, 55, 100, 1);
}

header .header-scrolled {
  height: 60px;
  background: #003764;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}

header .logo {
  margin: 0;
  padding: 0;
  filter: invert(100%);
}
header .logo img {
  margin-top: 5px;
}

header .logo:hover {
  filter: invert(80%);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Hero / 카드뉴스
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: #000;
  overflow: hidden;
  position: relative;
}

@media (max-height: 500px) {
  #hero {
    height: 150vh;
  }
}

#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .carousel-item::before {
  content: "";
  background-color: rgba(0, 55, 100, 0.5);
}

#hero .carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  text-align: center;
}

@media (max-width: 768px) {
  #hero h5 {
    font-size: 20px;
    line-height: 1.2;
  }
}
#hero p {
  width: 80%;
  font-size: 30px;
  line-height: 1.2;
  margin: 0 auto 30px auto;
  color: #fff;
}
@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
}
@media (max-width: 768px) {
  #hero p {
    font-size: 28px;
    line-height: 1.2;
  }
}

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/

footer {
  z-index: 1;
}
.footer-area {
  background: rgba(248, 248, 248, 0.5);
  opacity: 0.8;
}

.footer-logo h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  color: var(--gok-Blue-900);
  font-size: 30px;
  font-weight: 600;
}

.footer-head h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  color: var(--gok-Blue-900);
}

.footer-contacts p span {
  color: var(--gok-Blue-900);
  font-weight: 600;
  line-height: 0.5;
}

.footer-contacts p {
  line-height: 0.5;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 1;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #003764;
  width: 40px;
  height: 40px;
  transition: all 0.4s;
  border-radius: 50px;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #196294;
  color: #fff;
}

.back-to-top .active {
  visibility: visible;
  opacity: 1;
}
/*--------------------------------------------------------------
# login
--------------------------------------------------------------*/

#signin {
  width: 100%;
  height: 76vh;
  overflow: hidden;
  position: relative;
}

/*--------------------------------------------------------------
# toast / grid / sidebar
--------------------------------------------------------------*/

#toast-grid {
  width: 100%;
  height: 72vh;
  overflow: hidden;
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .side-nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .side-nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .side-nav-link.active {
  color: #007bff;
}

.sidebar .side-nav-link:hover .feather,
.sidebar .side-nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*--------------------------------------------------------------
# suvay / section / object
--------------------------------------------------------------*/

#object {
  width: 100%;
}
.object-header {
  font-size: 21px;
}
.badge-object {
  color: #fff;
  background-color: #f9979b;
  margin: 5px 0px;
}
.object-body {
  font-size: 14px;
}
.object-body > .badge-object {
  font-size: 16px;
}
.alert-object {
  font-weight: 500;
  line-height: 1;
  background-color: #ffebef;
  border: 1px solid #f9979b;
  padding: 10px 15px;
}

input[type="text"] {
  margin-left: 5px;
  height: 21px;
  width: 200px;
  font-size: 14px;
}
input[type="text"]:focus {
  border-radius: 6px;
  background-color: #e1eef4;
}
input[type="text"]:hover {
  border-radius: 6px;
  outline: 2px solid #8cbbd5;
}

[type="radio"],
span {
  vertical-align: middle;
}
[type="radio"] {
  appearance: none;
  border: 1px solid #575757;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  transition: border 0.5s all;
}
[type="radio"]:checked {
  background-color: #e4032e;
  outline: 1px solid #e4032e;
  border: 3px solid #fff;
}
[type="radio"]:focus-visible {
  outline-color: #196294;
  box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5);
}
[type="radio"]:hover {
  box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5);
  cursor: pointer;
}
[type="radio"]:hover + span {
  cursor: pointer;
}

[type="checkbox"] span {
  vertical-align: middle;
}
[type="checkbox"]:hover + span {
  cursor: pointer;
}
[type="checkbox"] {
  appearance: none;
  border: 1px solid #575757;
  width: 16px;
  height: 16px;
  transition: border 0.5s all;
  vertical-align: middle;
}

[type="checkbox"]::before {
  content: "\F26C";
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: scale(0) translate(-50%, -50%);
  line-height: 1;
}
.check input[type="checkbox"]:checked {
  background-color: #63aeff;
  border-color: rgba(255, 255, 255, 0.3);
  color: white;
}
.check input[type="checkbox"]:checked::before {
  border-radius: 4px;
  transform: scale(1) translate(-50%, -50%)
}

/* Code point
Unicode: U+F26C
CSS: \F26C
JS: \uF26C
HTML: &#xF26C; */

/* [type="checkbox"]:checked {
  background-color: #e4032e;
  outline: 1px solid #e4032e;
  border: 2px solid #fff;
} */
[type="checkbox"]:focus-visible {
  outline-color: #196294;
  box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5);
}
[type="checkbox"]:hover {
  box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5);
  cursor: pointer;
}


/*--------------------------------------------------------------
# survay / 질문
--------------------------------------------------------------*/

#survay {
  border: 1px solid #e1eef4;
  border-radius: 8px;
}

#survay .survay-header {
  padding: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  background-color: #f8f8f8;
}
#survay .survay-body span {
  font-size: 16px;
  font-weight: 400;
}
