/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  height: 60px;
  transition: all 0.5s;
  z-index: 997;
  background: rgba(0, 55, 100, 1);
}
header .header-scrolled {
  height: 60px;
  background: #003764;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}
header .logo {
  margin: 0;
  padding: 0;
  filter: invert(100%);
}
header .logo img {
  margin-top: 5px;
}
header .logo:hover {
  filter: invert(80%);
}

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
footer {
  background: #f8f8f8;
}
.footer-contacts p {
  line-height: 1;
}

/*--------------------------------------------------------------
# back-to-top
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 1;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #003764;
  width: 40px;
  height: 40px;
  transition: all 0.4s;
  border-radius: 50px;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #196294;
  color: #fff;
}
.back-to-top .active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# toast / grid / sidebar
--------------------------------------------------------------*/
#toast-grid {
  width: 100%;
  height: 72vh;
  overflow: hidden;
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  background: #f8f8f8;
}
@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
.sidebar .side-nav-link {
  font-weight: 500;
  color: #2f7eb0;
}
.sidebar .side-nav-link .feather {
  margin-right: 4px;
  color: #999;
}
.sidebar .side-nav-link.active {
  color: #003764;
}
.sidebar .side-nav-link:hover .feather,
.sidebar .side-nav-link.active .feather {
  color: inherit;
}
.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*--------------------------------------------------------------
# login
--------------------------------------------------------------*/
.form-login {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}
#login {
  width: 100%;
  height: 76vh;
  overflow: hidden;
  position: relative;
}

/*--------------------------------------------------------------
# Hero / 카드뉴스
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: #000;
  overflow: hidden;
  position: relative;
}
@media (max-height: 500px) {
  #hero {
    height: 150vh;
  }
}
#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
#hero .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#hero .carousel-item::before {
  content: '';
  background-color: rgba(0, 55, 100, 0.5);
}
#hero .carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  text-align: center;
}
@media (max-width: 768px) {
  #hero h5 {
    font-size: 20px;
    line-height: 1.2;
  }
}
#hero p {
  width: 80%;
  font-size: 30px;
  line-height: 1.2;
  margin: 0 auto 30px auto;
  color: #fff;
}
@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
}
@media (max-width: 768px) {
  #hero p {
    font-size: 28px;
    line-height: 1.2;
  }
}

/*--------------------------------------------------------------
# survay / 질문
--------------------------------------------------------------*/
.border-survay {
  border-color: #e1eef4 !important;
}

#survay .form-group {
  border: 1px solid #e1eef4;
  border-radius: 8px;
}
#survay .survay-header {
  padding: 16px;
  padding-left: 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  background-color: #f8f8f8;
}
#survay .survay-body span {
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}
.survay-body {
  padding: 10px;
  vertical-align: middle;
}
/*--------------------------------------------------------------
# direct / 직접
--------------------------------------------------------------*/
#direct .form-group {
  border: 1px solid #e1eef4;
  border-radius: 8px;
}
#direct .direct-header {
  padding: 12px;
  padding-left: 24px;
  font-size: 18px;
  font-weight: 600;
  background-color: #f8f8f8;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#direct .direct-body {
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#direct .form-check .form-check-input {
  margin-top: 0px;
}
.bg-object {
  background-color: #ffebef!important;
}

/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/

.table-side{
  font-size: 14px;
  text-align: left;
}
.table td label {
  vertical-align: middle;
}
.table .form-check-input {
  margin-right: 4px;
}
.table th, .table td, td, th {
  min-width: 60px;
}
select {
  font-size: 14px;
  border-radius: 4px;
  padding: 0;
  border: 1px solid #ced4da;
}
select:focus {
  color: #575757;
  background-color: rgba(255, 235, 239,.5);
  border-color: #f5b4b2;
  outline: 0;
  box-shadow: 0 0 0 4px rgba(235, 104, 100, .25);
}

/*--------------------------------------------------------------
# suvay / section / object
--------------------------------------------------------------*/
#object {
  width: 100%;
}
.object-header {
  font-size: 21px;
}
.badge-object {
  color: #fff;
  background-color: #e4032e;
  margin: 6px 0px;
}

.badge-object-sm {
  color: #fff;
  background-color: rgba(228,3,46,.5);
  background-color: #f9979b;
  margin: 5px 0px;
  padding: 5px;
  font-size: 13px;
  margin-right: 8px;
}

.object-body {
  font-size: 14px;
}
.object-body > .badge-object {
  font-size: 16px;
}

.alert-object {
  font-weight: 500;
  line-height: 1;
  background-color: #ffebef;
  border: 1px solid #f9979b;
  padding: 10px 15px;
}

sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: middle;
  font-weight: 500;
  margin-left: 10px;
}

#toggleSwitch {
  min-height: 1px;
}

